html {
background-color: lightgrey;
font-family: sans-serif;
}

img {
  width: 5rem;
  padding-bottom: 2rem;
padding: 0.5rem;
}

li {
  display: flex;
  flex-direction: row;
}

a {
  color: lightgrey;
  background-color: #444;
  text-decoration: none;
}

p {
padding: 0.6rem;
}

h3 {
padding: 1rem;
}
