html {
background-color: lightgrey;
font-family: sans-serif;
box-sizing: border-box;
line-height: 1.5;
}

img {
  width: 5rem;
  padding-bottom: 2rem;
padding: 0.5rem;
margin-top: 1.5rem;
}

li {
  display: flex;
  flex-direction: row;
}

p {
padding: 0.6rem;
}

h3 {
padding: 1rem;
}
