html {
background-color: lightgrey;
font-family: sans-serif;
box-sizing: border-box;
}

img {
  width: 5rem;
  padding-bottom: 2rem;
}

li {
  display: flex;
  flex-direction: row;
}

a {
  border-color: #444;
  margin-left: 2rem;
}

p {
  margin-left: 1rem;
}
